body {
    background-color: #fff;
    font-family: Helvetica, Arial, sans-serif;
    padding: 10px 10%;
}

.noprint {
    display: none;
}

#navigation {
    display: none;
}

#footer {
    display: none;
}

#post_content {
    display: none;
}

.sr-only {
    display: none;
}

.sidebar {
    display: none;
}

.modal-dialog {
    display: none;
}

/*modification pour les pages de formations*/

#progform {
    font-size: 12px !important;
    font-family: Verdana, Arial, "Bitstream Vera Sans", sans-serif !important;
}

#progform h1 {
    font-size: 16px !important;
}

#progform h2 {
    font-size: 14px !important;
}